---
layout: base
---
<section class="fl w-100">
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
        Learning Gardens is a meta-organization weaving networks of self-organized learning groups. <br /><br />
        At its simplest, this means we want to help you start and run your own learning group.<br /><br />
        At its best, we hope you and your friends achieve nirvana.<br /><br />
    </p>
  </div>

  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Joining Learning Gardens is free and interest-driven. We encourage you to realize how much existing infrastructure for learning exists in the form of people, places, and resources.<br /><br />

      We are an internet-native organization. As such, we seek to embrace transparency, decentralization, and multiple access points.
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
        <img src="images/flower.png">
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
        “Étudiants sans Frontières”
    </p>
    <p class="f4 lh-copy measure">
      <a href="mailto:hello@learning-gardens.co">Email Us &rarr;</a>
    </p>
  </div>
</section>

<section class="fl w-100">
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      What does Learning Gardens do?<br /><br />

      We help you join one of our learning groups or start your own. A group (or "garden") is a collection of people investigating a particular set of ideas. As a collective, we host a number of platforms, resources, and communities to support people taking agency in learning outside of institutions.
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
       Learning Gardens hosts some groups (listed below) and we also have <a href="/friends">friend organizations</a>. For those within LG's substrate, we acknowledge four loose "types" of groups—each an organizational paradigm.
      <ul>
        <li>STUDIO - based work &amp; sharing</li>
        <li>STUDY HALL - ask questions and build knowledge in public</li>
        <li>READING GROUP - meetings around a syllabus or interest</li>
        <li>WORKSHOP - one-off or series of intensive working sessions</li>
      </ul>
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      How do I join a group?<br /><br />

      We recommend you join the platform that the group uses to organize, then introduce yourself. People in Learning Gardens are open.<br /><br />

      Want to start your own? <a href="mailto:hello@learning-gardens.co">email us</a>!
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
      <p class="f4 lh-copy measure">
        <strong>Community Platforms:</strong>
      </p>
        <ul>
          <li class="list db dim">
            <a class="link" href='https://lg-slack-automate.herokuapp.com/'>Slack (chat)</a>
          </li>
          <li class="list db dim">
            <a class="link" href='http://conservatory.learning-gardens.co/'>Discourse (forum)</a>
          </li>
          <li class="list db dim">
            <a class="link" href='https://www.facebook.com/learningardens/'>Facebook Group</a>
          </li>
          <!-- <li class="list db dim">
            <a class="link" href='http://tilde.learning-gardens.co/'>tilde club</a>
          </li> -->
        </ul>
        <p class="f4 lh-copy measure">
        <strong>Resource Platforms:</strong>
      </p>
        <ul>
          <li class="list db dim">
            <a class="link" href='https://github.com/learning-gardens'>github (projects &amp; notes)</a>
          </li>
          <li class="list db dim">
            <a class="link" href='https://drive.google.com/drive/u/0/folders/0By-mhwYd4hkhM2xEZG9iZ1p1QWc'>GDrive (resources)</a>
          </li>
        </ul>
        <p class="f4 lh-copy measure">
        <strong>Stay In Touch:</strong>
      </p>
        <ul>
          <li class="list db dim">
            <a class="link" href='http://tinyletter.com/learningardens'>Newsletter</a>
          </li>
          <li class="list db dim">
            <a class="link" href='https://twitter.com/learningardens'>Twitter</a>
          </li>
        </ul>
      </p>
      <!-- https://www.patreon.com/learningardens -->
  </div>
</section>

<section class="fl w-100">
  <br /><br /><br /><br /><br /> <!-- SPACER LOL -->
</section>


<section class="fl w-100">

  {% include groups_loop.html %}

</section>

<!-- <a class="link dim black" href="mailto:hello@learning-gardens.co">Send us a message</a> -->

<section class="fl w-100">
  <div class="fl w-100 w-50-l pa2 pv2-l ph4-l">
    <h2 class="normal">Gardens Blog:</h2>

    {% include articles_loop.html %}
  </div>
  <div class="fl w-100 w-50-l pa2 pv2-l ph4-l">
    <h2 class="normal">Additional Pages:</h2>

    {% include pages.html %}
  </div>
</section>
