<section class="fl">
  <h2 class="lh-title normal ph2 pv4 pa4-l f4">Short reads:</h2>

  <ul class="ph2 ph4-l pb4 ma0 db" id="post-list">
  	{% for post in site.posts %}
      <li class="list db dim f4">
    		<a class="link black" href='{{ post.url | prepend: site.github.url }}'>
          <aside class="dates mt4 f6">{{ post.date | date: "%-d %B %Y" }}</aside>
        </a>
    		<a class="link black" href='{{ post.url | prepend: site.github.url }}'>{{ post.title }}
          <aside class="black-50 f6 mt1">{{ post.headline }}</aside>
        </a>
    	</li>
    {% endfor %}
  </ul>
</section>
