<section class="fl">
  <h2 class="lh-title normal ph2 pv4 pa4-l f4">Friends of the Garden:</h2>
  <ul class="ph2 ph4-l pb4 ma0 db">
    <li class="list db dim f4">
      <a class="link black" href='http://www.enrolyourself.com/'>Enrol Yourself</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href="http://www.evening-class.org/">Evening Class</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href="http://platplatformform.com/">Platform</a>
    </li>

  </ul>

  <h2 class="lh-title normal ph2 pv4 pa4-l f4">Additional Links:</h2>

  <ul class="ph2 ph4-l pb4 ma0 db">
    <li class="list db dim f4">
      <a class="link black" href='/thanks'>Acknowledgements</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href="http://openschool-workshop.tumblr.com/">Open School - Workshop</a>
    </li>
  </ul>
</section>
