<!-- Loop over _data/groups.yml -->
<section class="w-100 flex flex-wrap">

    <!-- <h2 class="lh-title normal ph2 pv4 pa4-l f4"><span>Our lovely learning groups:</span></h2> -->

    {% for group in site.data.groups %}
    <div class="w-100 w-50-m w-25-ns pa4-ns ma0-ns ma2 flex-row">
        <h2 class="normal">
            {% if {{group.url}} != "" %}
            <a href="{{group.url}}" class="black">{{ group.name }}</a>
            {% else %}
            {{ group.name }}
            {% endif %}
        </h2>
        <span class="ttu roboto">
          {{ group.type }}
        </span>
        <p class="lh-copy ">
            {{ group.description }}
        </p>
    </div>
    {% endfor %}

</section>
