<!-- Loop over _data/groups.yml -->
<section class="fl w-100">
    <h2 class="lh-title normal ph2 pv4 pa4-l f4">Our lovely learning groups:</h2>
    {% for group in site.data.groups %}
    <div class="fl w-50-m w-25-l w-25-ns pa3 dib">
        <div class="aspect-ratio aspect-ratio--1x1">
            <a href="{{ group.url }}" target="_blank" class="black link"><span style="background-image:url({{ site.github.url }}/images/{{ group.icon }});" class="cover bg-center contain aspect-ratio--object "></span></a>
        </div>
        <!-- <h2 class="normal">{{ group.name }}</h2> -->
        <p class="lh-copy aspect-ratio aspect-ratio--1x1">{{ group.description }}</p>
        <!-- <p>{{ group.url }}</p> -->
    </div>
    {% endfor %}
</section>
