<section class="fl w-25">
  <h2 class="lh-title normal ph2 pv4 pa4-l f4">LG On The Net:</h2>

  <ul class="ph2 ph4-l pb4 ma0 db">
    <li class="list db dim f4">
      <a class="link black" href='https://lg-slack-automate.herokuapp.com/'>Slack (chat)</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href='http://conservatory.learning-gardens.co/'>Discourse (forum)</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href='http://tinyletter.com/learningardens'>TinyLetter (newsletter)</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href='https://drive.google.com/drive/u/0/folders/0By-mhwYd4hkhM2xEZG9iZ1p1QWc'>GDrive (resources)</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href='https://github.com/learning-gardens'>github (projects &amp; notes)</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href='https://www.facebook.com/learningardens/'>Facebook Group</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href='http://tilde.learning-gardens.co/'>tilde club</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href='https://twitter.com/learningardens'>Twitter</a>
    </li>
    <li class="list db dim f4">
      <a class="link black" href='http://learningardens.tictail.com/'>Tictail (shop)</a>
    </li>
  </ul>
</section>
