
  <!-- <h2 class="lh-title normal ph2 pv4 pa4-l f4">Additional Pages:</h2> -->

  <ul class="ph2 ph4-l pb4 ma0 db">
    <li class="list db dim f4">
      <a class="link black" href='/thanks'>Acknowledgements</a>
    </li>
  </ul>
  <ul class="ph2 ph4-l pb4 ma0 db">
    <li class="list db dim f4">
      <a class="link black" href='/info'>Information</a>
    </li>
  </ul>
  <ul class="ph2 ph4-l pb4 ma0 db">
    <li class="list db dim f4">
      <a class="link black" href='/resources'>Resources</a>
    </li>
  </ul>
  <ul class="ph2 ph4-l pb4 ma0 db">
    <li class="list db dim f4">
      <a class="link black" href='/grants'>Nursery Grants</a>
    </li>
  </ul>
  <ul class="ph2 ph4-l pb4 ma0 db">
    <li class="list db dim f4">
      <a class="link black" href='/friends'>Friends</a>
    </li>
  </ul>


<!-- <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
  <p class="f4 lh-copy measure">
    <a class="link dim black" href="/info.html">Learn more</a><br>
    <a class="link dim black" href="/join.html">Join the project</a><br>
    <a class="link dim black" href="/resources.html">Readings &amp; Resources</a><br>
    <a class="link dim black" href="/grants.html">Nursery Grants</a><br />
    <a class="link dim black" href="mailto:hello@learning-gardens.co">Send us a message</a><br>
  </p>
</div> -->
