<section class="fl w-100">
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Learning Gardens is a meta-organization to support grassroots non-institutional learning, exploration, and community-building.<br><br>
      At its simplest, it is advice on how to start a reading group. At its most complex, you and your friends can achieve nirvana.
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      <a class="link dim green" href="{% url '/info.html' %}">Learn more</a><br>
      <a class="link dim green" href="{% url '/join.html' %}">Join the project</a><br>
      <a class="link dim green" href="{% url '/resources.html' %}">Readings & Resources</a><br>
      <a class="link dim green" href="mailto:hello@learning-gardens.co">Send us a message</a><br>
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l"></div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      “Étudiants sans Frontières”
    </p>
  </div>
</section>
