<section class="fl w-100">
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Learning Gardens is a meta-organization to support grassroots non-institutional learning, exploration, and community-building.<br><br>
      At its simplest, it is advice on how to start a reading group. At its most complex, you and your friends can achieve nirvana.
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      <a class="link dim black" href="{% url '/info.html' %}">Learn more</a><br>
      <a class="link dim green" href="{% url '/join.html' %}">Join the project</a><br>
      <a class="link dim black" href="{% url '/resources.html' %}">Readings & Resources</a><br>
      <a class="link dim black" href="mailto:hello@learning-gardens.co">Send us a message</a><br>
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Self-Organization<br><br>

      We are currently using <a class="link dim green" href="https://learning-gardens.slack.com/" target="_blank">Slack</a> to communicate and <a class="link dim green" href="https://github.com/learning-gardens" target="_blank">Github</a> to build learning resources.<br><br>

      These platforms were selected for being friendly to free initiatives, and in the case of Github, open for the public to view and modify.
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Joining<br><br>

      If you'd like to join the community, it's as easy as <a class="link dim green" href="https://lg-slack-automate.herokuapp.com/" target="_blank">joining our slack</a>.<br><br>

      If you own or participate in your own learning group, we additionally encourage you to <a class="link dim green" href="mailto:hello@learning-gardens.co" target="_blank">message us</a> for further information.
    </p>
  </div>
</section>
