title: Github is for Lovers
headline: (Or, github is for anyone, not just developers)
author: Benjamin den Boer
date: 11-10-2013


{% extends "post.html" %}
{% block body %}

{% filter markdown %}

Okay, so you're logged into Github, and you see this page:

How do you begin contributing to Learning Gardens?

![]({% static '/images/lg002/1.png' %})

To begin, click on the `+` button on the top-right of the screen.

This is how you create a new repository. You can think of a repository as a folder holding a single subject matter.

![]({% static '/images/lg002/2.png' %})

After creating a repo, you'll see this screen.

![]({% static '/images/lg002/3.png' %})

Fill out the items as needed, be sure to initialize the repo with a README, and click `Create repository`

![]({% static '/images/lg002/4.png' %})

You'll be taken to the 'home' of your repository, which displays any text files or folders or assets you've created within this space.

Note that any file named README automatically displays beneath the file/directory listing.
Typically, developers use a README.md to explain their repository, and how to work with the contents within, but for our purposes, a README.md can be used for explaining your learning group, linking to whatever you use for collaboration, and showing others how to contribute.
Read more about what might be good to include in your README.md <a class="link dim green" href="#">here</a>.

Click `Create new file`, above the top of the directory, to create new textual files or folders(!)

![]({% static '/images/lg002/5.png' %})

Note the screen below: In the file name input, you can name a single file, or create files within directories by typing a word followed by a '/'. This can be undone by pressing backspace a bunch.

![]({% static '/images/lg002/6.png' %})

When you're done editing your file, creating your class index, or writing your syllabi, you can scroll down and click `Commit new file`.

It's generally a good practice to fill in the changes you've made or added in the fields provided, so other contributors can keep track of what you've done.

![]({% static '/images/lg002/7.png' %})

After you commit the file, you should be taken right to where it now exists in the directory.

Congrats! You've basically learned everything you need to know in order to begin creating your initial learning group docs.

![]({% static '/images/lg002/8.png' %})

An additional cool thing you can do via the web interface is add files by dragging and dropping from your computer to the browser. This works in just about every directory view, and in Github Issues, which <a class="link dim green" href="#">we'll write about later</a>.

![]({% static '/images/lg002/9.gif' %})

This is basically all you need to know to begin adding and editing text within Github.

This guide does not cover deleting things, or the git branching model, which are both probably important things to know as you proceed to use Github for setting up your learning group documents.

We'll cover further aspects of this in later tutorials, but for now, have a good time getting things started! Bye!

Love,
Learning Gardens

---

On the slogan, “Virginia is for Lovers” —

 > Originally, they had come up with history ads, "Virginia is for History Lovers"; beach ads, "Virginia is for Beach Lovers"; and mountain ads, "Virginia is for Mountain Lovers".

 > This approach was eventually discarded as too limiting, and the qualifiers were dropped. "Virginia is for Lovers" was born.

We're of the opinion that Github (and its underlying technology, git) may be one of the best product-as-methodologies for open collaboration that currently exists.

Github is primarily known as a platform for software developers, but it's incredibly clear

{% endfilter %}
{% endblock body %}
