title: Organizing your learning group
headline: Strategies and best practices and more
author: Koen Bok
date: 15-09-2013

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

Typi non habent <a href="#" class="link">lol</a> claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.

Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.

---

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.

    var app = {}
    app.views = {}

    app.views.screenView = new View({width:100, height:100})
    app.views.tabView = new View({width:100, height:100})

{% endfilter %}
{% endblock body %}
