<section class="fl w-100">
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Learning Gardens is a meta-organization to support grassroots non-institutional learning, exploration, and community-building.<br><br>
      At its simplest, this means we want to help you start and run your own learning group. <br /><br />
      At its best, we hope you and your friends achieve nirvana.
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      <a class="link dim green" href="{% url '/info.html' %}">Learn more</a><br>
      <a class="link dim black" href="{% url '/join.html' %}">Join the project</a><br>
      <a class="link dim black" href="{% url '/resources.html' %}">Readings &amp; Resources</a><br>
      <a class="link dim black" href="mailto:hello@learning-gardens.co">Send us a message</a><br>
    </p>
  </div>
  <div class="fl w-100 w-50-m w-50-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Our Mission<br><br>

      It is difficult to carge out time for focused study. We support learning groups in any discipline to overcome this inertia and build their own lessons, community, and learning styles. If we succeed in our mission, participating groups should feel empowered while free of institutional shackles.<br><br>

      Community-based learning — free, with friends, using public resources — is simply a more sustainable and distributed form of learning for the 21st century. Peer-oriented and interest-driven study often fosters the best learning anyway.<br><br>

      Learning Gardens is an internet-native organization. As such, we seek to embrace transparency, decentralization, and multiple access points. <br><br>
    </p>
  </div>
</section>
