<section class="fl w-100">
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Learning Gardens is a meta-organization to support grassroots non-institutional learning, exploration, and community-building.<br><br>
      At its simplest, it is advice on how to start a reading group. At its most complex, you and your friends can achieve nirvana.
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      <a class="link dim green" href="{% url '/info.html' %}">Learn more</a><br>
      <a class="link dim black" href="{% url '/join.html' %}">Join the project</a><br>
      <a class="link dim black" href="{% url '/resources.html' %}">Readings & Resources</a><br>
      <a class="link dim black" href="mailto:hello@learning-gardens.co">Send us a message</a><br>
    </p>
  </div>
  <div class="fl w-100 w-50-m w-50-l pa2 pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Our Mission<br><br>

      We support learning groups in any discipline to structure their own lessons, community, and learning styles — If we succeed in our mission, participating groups should feel empowered without institutional shackles.<br><br>

      Community-based learning — free, with friends, using public resources — is simply a more sustainable and distributed form of learning for the 21st century.<br><br>

      Outside of college, there’s often a void of focused study. Peer-oriented, interest-driven study and action is better than coursework anyway. Learning Gardens seeks to support new learning endeavors, help support their ongoing structure, and share it all—decentralized, any-subject, communal study or work efforts.<br><br>
    </p>
  </div>
</section>
