<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
          _
     ___/__)                ,
    (, /    _  _   __ __     __   _
      /   _(/_(_(_/ (_/ (__(_/ (_(_/_
     (_____                     .-/
            )                  (_/
         _____)
       /                  /)
      /   ___   _   __  _(/  _ __   _
     /     / ) (_(_/ (_(_(__(/_/ (_/_)_
    (____ /

        —

        2016 — Ongoing

    -->
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    {% include head_stuff.html %}
  </head>

  <body>

    <article class="cf pa4 mw9 center">

      <header id="banner"></header> <!-- necessary for subtle gradient -->

      <header class="fl w-100">
        <h1 class="lh-title normal f4 pa2 pa4-l">
          <a class="link black" href="/">Learning Gardens</a>
        </h1>
      </header>

      <!-- <div class="fl w-100 w-50-ns pa2 pv2-l ph4-l">
        <h2>
          <a class="link black" href="{{ site.url | prepend: site.github.url }}">Learning Gardens</a>
        </h2>
      </div> -->

      {{ content }}

      {% include groups_loop.html %}

      {% include articles_loop.html %}

      {% include extra_info.html %}

    </article>

  </body>
</html>
