<!DOCTYPE html>
<html lang="en">
    <!--
          _
     ___/__)                ,
    (, /    _  _   __ __     __   _
      /   _(/_(_(_/ (_/ (__(_/ (_(_/_
     (_____                     .-/
            )                  (_/
         _____)
       /                  /)
      /   ___   _   __  _(/  _ __   _
     /     / ) (_(_/ (_(_(__(/_/ (_/_)_
    (____ /

        -

                      .-~~-.--.
                     :         )
               .~ ~ -.\       /.- ~~ .
               >       `.   .'       <
              (         .- -.         )
               `- -.-~  `- -'  ~-.- -'
                 (        :        )           _ _ .-:
                  ~--.    :    .--~        .-~  .-~  }
                      ~-.-^-.-~ \_      .~  .-~   .~
                               \ \'     \ '_ _ -~
                                `.`.    //
                       . - ~ ~-.__`.`-.//
                   .-~   . - ~  }~ ~ ~-.~-.
                 .' .-~      .-~       :/~-.~-./:
                /_~_ _ . - ~                 ~-.~-._
                                                 ~-.<

                              ,....
                           ,,''    ""-.
                      .--,,'           "",
                    ,.  ,'     .-, ...    `
                   ,'  ,'   .-"   P  ``.  : .,.
               ,'".'   :   ,   ,--;-,   `.,"   `.
              ,'  :    :  '    :  :  `    '-,   `.
              ,  ,     :  :    :  t. ',   :  `   `
             ,'  :     `. :    :   `"'`.  :  :   :
             :   :       :`.   `.     ,'  :  :    :
             `.  `       : `.   `-,...( .,'  ,   ,'
              :   :      :   `.      ' "    ,'   :
              `. ,",     `.    "----'      ,'    ,
               `", `,.    `,             .'      :
                 :   `,     "-,.,.    ,,'       ,
                 `     `,.      :'---"'       ,'
                  t      `-....-td           ,'
                   "-.            "-,,....,-"
       ,,-,.  ..      `..            :   ,.''"----"",...
   ,'""'    "" `-. .    `T-..    ..-`).,,'             `.
 ,"'             `" t    ,( `""""   ,' '    '    ,      `"`
 : --. ,   `         `.  ::       ,.       :     : ,''   .'
 (   `"),  `.   -.    `. `,      .'   ,    ,   ,'`""-    :
 : ,...t,`,.'    `     `,:`,.   '    ,'   ,",--t       ,'
  `         `.   `.  ,  `", '   :,   :  ,.''    "--   ,'
  `,          :  ,'  `, `,` t   ::   : ,.:           .'
   `  -,..---"`'"''.  : ,'`,`.  ::   ,"'`"-,...    ,,'
    `,              :`'"'  `,t  :`.,",         '  ,'
      t          ,.-`---,.. : t )' '-`-.....    -''
       `. ,""""""'      : ``.  `,",           .'
        `"`-.          '    `,   :`,..,.,'""""
            `-,...-,.,'       ", `,   '
                                ", `,.
                         -hrr-   :   `,.. ,.
                                  """-t.``'`-..    ,...,
                                       ``-..  `""""'  ,
                                           `""---....'

        -

        2016 — Ongoing

    -->

<head>
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Lora|Work+Sans|Roboto:400,700" rel="stylesheet">
  <style>
    body {
      font-family: "Lora",sans-serif;
    }
    .vh-f {
      font-size: 1.9em;
    }
    .banner {
      width: 100%;
      height: 200%;
      margin-left: auto;
      margin-right: auto;
      z-index: -999;
      top: 0px;
      left: 0px;
      background-image: linear-gradient(top, #E6F1E7 0%,#ffffff 100%);
      background: -moz-linear-gradient(top, #E6F1E7 0%, #ffffff 100%);
      background: -webkit-linear-gradient(top, #E6F1E7 0%,#ffffff 100%);
      background-repeat: repeat-x;
      position: absolute;
    }
    .lg-black {color: #232E2E}
  </style>
</head>

<body class="mw8-ns pt5 pb6 center vh-f f3-ns lh-copy lg-black">

  <!--  Title  -->
  <div class="banner"></div>
  <div class="db">
    <p class="dib"><a class="link black dim" href="{{ site.baseurl }}">Learning Gardens</a></p>
  </div>

  <!--  Greetings  -->
  <p class="lh-copy measure di"><div class="ml3 dib" id="earth"></div></p>
  <script type="text/javascript">
        "use strict";

        var index  = 0;
        var turning = ["🌏", "🌎", "🌍"];

        function display() {
          document.getElementById("earth").innerHTML = turning[index];
          index = (index + 1) % 3;
        }

        display();
        window.setInterval(display, 500);
  </script>

  {{ content }}

</body>
</html>
