<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      _
 ___/__)                ,
(, /    _  _   __ __     __   _
  /   _(/_(_(_/ (_/ (__(_/ (_(_/_
 (_____                     .-/
        )                  (_/
     _____)
   /                  /)
  /   ___   _   __  _(/  _ __   _
 /     / ) (_(_/ (_(_(__(/_/ (_/_)_
(____ /

    —

    2016 — Ongoing

-->
    <title>{{ post.title }}</title>
    <meta name="description" content="{{ site.description }}">

    {% include head_stuff.html %}

  </head>
  <body>


    <section id="wrapper" class="group fl w-100">

      <header class="fl w-100 w-50-m w-25-l pa2 pv2-l ph4-l">
        <h2 class="lh-title normal f4 lh-copy measure">{{ post.title }}</h2>
        <h2 class="black-50 lh-title normal f4 lh-copy measure headline">{{ post.headline }} </h2>
      </header>
      <section id="post-body" class="fl w-100 w-50-m w-75-l pa2 pv2-l ph4-l f4 lh-copy measure-wide">
        {{ post.content }}
      </section>

      <!-- <footer id="post-meta" class="group">
<div><span>Posted on </span> {{ date|date:"M j" }}</div>
<div><span>Written by</span> {{ author }}</div>
</footer> -->

      <!-- <footer>
<nav id="post-nav">
<span class="prev">
{% if prevPost %}
<a href='/{{ prevPost.path }}'>
<span class="arrow">&larr;</span> {{ prevPost.title }}
</a>
{% endif %}
</span>
<span class="next">
{% if nextPost %}
<a href='/{{ nextPost.path }}'>
{{ nextPost.title }} <span class="arrow">&rarr;</span>
</a>
{% endif %}
</span>
</nav>
</footer> -->

    </section>

  </body>
